.tech_div {
    max-width: 45%;
    margin: 20px auto;
    line-height: 22px;
}
@media all and (max-width: 1200px) {
    .tech_div {
        max-width: 50%;
    }
}
@media all and (max-width: 1000px) {
    .tech_div {
        max-width: 60%;
    }
}
@media all and (max-width: 900px) {
    .tech_div {
        max-width: 70%;
    }
}
@media all and (max-width: 800px) {
    .tech_div {
        max-width: 80%;
    }
}
@media all and (max-width: 700px) {
    .tech_div {
        max-width: 90%;
    }
}
.tech_div h3 {
    font-size: 20px;
    padding: 20px 0 10px 0;
    font-weight: 500;
}
.tech_div p {
    padding: 10px 0 20px 0;
    line-height: 22px;
}
.tech_div span {
    font-weight: bold;
}
.tech_div img {
    width: 100%;
}
